---
---
<div class="flex flex-col  pt-32 ">

  <!-- contact -->
   
  <section id="contact" class="flex flex-col p-6 md:p-12 mb-6">
    <h3 class="text-white">Contact Me</h3>
    
    <!-- Email -->
    <div class="mb-4">
      <p class="text-white">Email:</p>
      <a href="mailto:thea.frese@gmail.com" class="text-white hover:underline">
        thea.frese@gmail.com
      </a>
    </div>
    
    <!-- Phone Number -->
    <div class="mb-4">
      <p class="text-white">Phone:</p>
      <a href="tel:+4524450704" class="text-white hover:underline">
        +45 24450704
      </a>
    </div>
    
    <!-- LinkedIn Profile -->
    <div>
      <p class="text-white">LinkedIn:</p>
      <a href="https://www.linkedin.com/in/thea-frese-ekstrøm-b47a48289/" target="_blank" 
        class="text-white hover:underline">
        linkedin.com/in/thea-frese-ekstrøm
      </a>
    </div>    
    </section>
    
<p class="text-[#fefafa] align-text-bottom text-center pb-2"> © 2024 All Rights Reserved.</p>
</div>
  