---
import Link from "../components/Link.astro";
---

<section class="flex flex-col background-color-footer m-8 p-12 text-center space-y-5">
<p class="text-white">I am interested in a student job starting from today.</p>
<p class="text-white text-2xl">I am looking for an internship starting in January 2025.</p>
<div class="p-2">
<Link size="text-mg" variant="secondary" href="#contact" class="ml-8"
            >Contact Me</Link>
        </div>
</section>